'name': 'Tubaina2'
'scopeName': 'text.tubaina'
'fileTypes': []
'injectionSelector': 'comment'
'patterns': [
  {
    'match': '@todo'
    'name': 'tubaina2.todo'
  }
  {
    'match': '@note'
    'name': 'tubaina2.note'
  }

]
